.feature-main{
    margin-top: 30px;

}

.feature-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-header h2{
    font-size: 40px;
    color: #0a472e;
    position: relative;
    margin-left: 30px;
}

.feature-header h2::before{
    content: "";
    display: block;
    position: absolute;
    left: -40px;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 4px solid #bac34e;
    border-radius: 50%;
    
}

.shop-link.feature-link a{
    color: #bac34e;
    border-color: #bac34e;
}

.shop-link.feature-link img{
    filter: invert(87%) sepia(35%) saturate(679%) hue-rotate(11deg) brightness(83%) contrast(85%);
}

.feature{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
}

.feature-item{
    width: calc(25% - 20px);
    text-align: center;
    border: 1px solid #e1e1e1;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

}

.feature-item > img{
    width: 100%;
    margin-bottom: 30px;
}

.shop-link.feature-link--dop a{
    border: none;
    margin: 0 auto;
}

.feature-item h3{
    color: #bac34e;
    cursor: pointer;
}

.feature-item a{
    color: black;
    transition: .4s;
    display: block;
    margin: 20px 0;
}

.feature-item > a:hover{
    color: #bac34e;
}

.feature-item p{
    color: #e0bf96;
    font-size: 18px;
}

.feature-item > span{
    display: block;
    width: 50px;
    height: 2px;
    background-color: #bac34e;
    margin: 20px auto;
    transition: .4s;
}

.feature-item:hover > span{
    width: 100px;
}

.feature-hidden{
    display: flex;
    position: absolute;
    top: 250px;
    opacity: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    transition: .4s;
}

.feature-item:hover .feature-hidden{
    opacity: 1;
    top: 220px;
}

.feature-hidden img{
    width: 25px;
    transition: .4s;
}

.feature-hidden span{
    margin: 0 10px;
    width: 40px;
    border: 1px solid #e1e1e1;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

.feature-hidden span:hover{
    background-color: #0a472e;
}


.feature-hidden span:hover img{
    filter: invert(1);
}

.feature-arrows{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    z-index: 5;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: .4s;
}

.feature-arrows.left-arrow{
    left: -100px;
    transform: rotate(180deg);
    transition: .4s;
}

.feature-arrows.right-arrow{
    right: 0;
    right: -100px;
    transition: .4s;
}

.feature:hover .feature-arrows.left-arrow{
    opacity: 1;
    left: -25px;
}
.feature:hover .feature-arrows.right-arrow{
    opacity: 1;
    right: -25px;
}


.feature-arrows:hover{
    background-color: #bac34e;
}


.feature-arrows:hover img{
    filter: invert(1);
}

.feature-arrows img{
    transition: .4s;
}

.feature-header.seller-header h2::before{
    border: 4px solid red;
}