.grid{
    display: grid;
    grid-auto-rows: 215px;
    gap: 20px;
    margin-top: 8%;
    margin-bottom: 8%;
}

.grid-item:first-child{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item:nth-child(4){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-item:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-item:last-child{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item img{
    width: 100%;
    height: 100%;
}

.grid-item{
    position: relative;
}

.grid-left, .grid-right{
    width: 0;
    height: 0;
    background-color: black;
    opacity: .1;
    position: absolute;
    transition: .4s;
    
}



.grid-right{
    bottom: 0;
    right: 0;
}

.grid-left{
    top: 0;
    left: 0;
}

.grid-item:hover .grid-left, .grid-item:hover .grid-right{
    width: 100%;
    height: 100%;
}

.grid-item p{
    width: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 80px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


.grid-item:nth-child(2) p, .grid-item:nth-child(4) p, .grid-item:nth-child(3) p{
    width: fit-content;
    left: 50px;
}

.grid-item p::after{
    content: "";
    background-color: white;
    height: 2px;
    width: 40px;
    position: absolute;
    bottom: -20px;
    left: 30%;
    transform: translatex(-50%);
    transition: .4s;
}

.grid-item:first-child p::after,
.grid-item:last-child p::after{
    left: 43%;
}

.grid-item:hover p::after{
    width: 100px;
}