.main{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}



.main-slider{
    width: 66%;
    position: relative;
    min-height: 250px;
}

.main-slider-item{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 100px;
}

.slick-list{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.slick-track{
    width: 100%;
    height: 100%;
}

.main-slider-item h4{
    font-size: 24px;
    color: #bac34e;
    font-weight: 700;
    font-family: "Dancing Script";
}

.main-slider-item h1{
    font-size: 40px;
    color: #0a472e;
    margin: 30px 0;
}

.shop-link a{
    display: flex;
    align-items: center;
    color: black;
    font-weight: 700;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    width:fit-content ;
    transition: .4s;
    font-size: 12px;

}

.shop-link img{
    width: 8px;
    margin: 2px;
    transition: .4s;
}

.shop-link a:hover{
    color: #bac34e;
    border-color: #bac34e;
}

.shop-link a:hover img{
    filter: invert(90%) sepia(37%) saturate(699%) hue-rotate(7deg) brightness(83%) contrast(85%);
    margin-left: 5px;
}

.main-slider-item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.main-slider-item > div{
    position: relative;
    z-index: 2;
}

.main-info{
    width: calc(33% - 30px);
    height: 35vw; 
    min-height: 250px;
}

.main-info1{
    height: calc(50% - 15px);
    margin-bottom: 30px;
    background-image: url("../../img/main3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}

.main-info1 h2{
    font-size: 24px;
    color: #0a472e;
    line-height: 30px;
    margin-bottom: 15%;
}

.main-info2{
    height: calc(50% - 15px);
    background-image: url("../../img/main4.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-info2 h2{
    font-family: "Dancing Script";
    font-weight: 700;
    color: white;
    font-size: 24px;
}

.main-info2 h3{
    color: #f4ed23;
    font-size: 40px;
    margin: 10px 0;
}

.main-info2 p{
    color: white;
    margin-bottom: 20px;
}

.shop-button img{
    width: 12px;
    height: 12px;
    filter: invert(1);
    transition: .4s;
}

.shop-button a{
    display: flex;
    align-items: center;
    color: white;
    transition: .4s;
}

.shop-button{
    background-color: #bac34e;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 30px;
    font-weight: bold;
    width: 120px;
    transition: .4s;
}

.shop-button:hover{
    background-color: white;
}
.shop-button:hover a{
    color: #bac34e;
}
.shop-button:hover img{
    filter: invert(90%) sepia(37%) saturate(699%) hue-rotate(7deg) brightness(83%) contrast(85%);
    margin-left: 10px;
}

@media(max-width:1050px){
    .main-slider{
        padding: 5%;
        width: 100%;
    }

    .main-info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 25vw;
        margin-top: 20px;
    }

    .main-info1, .main-info2{
        width: calc(50% - 10px);
        height: 100%
    }

    .main-info1{
        margin-bottom: 0;
        padding: 3%;
    }
}


@media(max-width:670px){

    .main-slider-item h1{
        font-size: 20px;

    }

    .main-slider-item h4{
        font-size: 14px;
    }

    .main-info1, .main-info2{
        width: 100%;
    }

    .main-info1{
        margin-bottom: 20px;
    }
}

@media(max-width:470px){

    .shop-link a{
        font-size: 8px;
    }
    
}